<head>
    <meta charset="UTF-8">
    <meta content="Web Application Development, COMP 229" name="keywords">
    <meta content="Bruna Donatoni" name="description">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <title><%= title %></title>
</head>