<nav>
    <a href="/" class="logo">Bruna logo</a> |
    <a href="/about">About Me</a> |
    <a href="/projects">Projects</a> |
    <a href="/services">Services</a> |
    <a href="/contact">Contact</a>
    <!-- <a href="https://github.com/Brunalsdd" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a> -->
</nav>