<!DOCTYPE html>
<html>

  <!-- Head of the page -->
  <%- include('partials/head.ejs') %>

  <body>
    <div class="headstyle">
      <!-- Header -->
      <br>
      <%- include('partials/header.ejs') %>
      <!-- Navigation Bar -->
      <%- include('partials/navigationbar.ejs') %>
      </div>



    <!-- Footer of the page -->
    <%- include('partials/footer.ejs') %>
  </body>

</html>
