<!--Student: Bruna Donatoni-->
<!--Student ID: 301199383-->
<!--Date: Oct 05, 2022-->

<!DOCTYPE html>
<html>

  <!-- Head of the page -->
  <%- include('partials/head.ejs') %>

  <body>
    <div class="headstyle">
      <br>
      <!-- Header -->
      <%- include('partials/header.ejs') %>
      <!-- Navigation Bar -->
      <%- include('partials/navigationbar.ejs') %>
    </div><br><br><br>
    <div>
      <img class="projectimg" src="images/Microsoft_Office_Access.png" alt="" >
      <h2>Quality Analyst</h2>
      <h3> Database management, Creation and Update of reports, and KPI calculation</h3>
    </div>

    <div>
      <img class="projectimg" src="images/hb20.jfif" alt="">
      <h2>Technical Sales</h2>
      <h3> </h3>
    </div>

    <div>
      <img class="projectimg" src="images/corolla.jpg" alt="">
      <h2>Technical Sales</h2>
      <h3> </h3>
    </div>

    <!-- Footer of the page -->
    <%- include('partials/footer.ejs') %>
  </body>

</html>
