body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
}

a {
  color: #fafcfc;
}

.headstyle {
  color: aliceblue;
  background-color: #232F3E;
}

footer {
  color: aliceblue;
  background-color: #232F3E;
}

.webname{
  text-align: center;
}

.textalign{
  margin-left: 8%;
}

footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 91%;
  border: 3px;
}

.column {
  float: left;
  width: 50%;
}

/* Stops the float property from affecting content after the columns */
.columns:after {
  content: "";
  display: table;
  clear: both;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}